<!DOCTYPE html>
<html lang="en">
<head>
	<title>QuesTi</title>

<!--===============================================================================================-->
</head>
<body>

	<div class="wrapper"></div>
      <div class="">
	   <div class="container-login100 ">
		 <div class=" p-t-90 p-b-30">
			<a href="cadastro/editar_cadastro"><h2 style="color: black;">Editar Dados Pessoais</h2></a>
			<a href="perfil/trocar_senha"><h2 style="color: black;">Trocar senha</h2></a>
			<div class=" p-t-90 p-b-30"></div>
				
     
			</div>
		</div>
	</div>
</div>

</body>
</html>