<!DOCTYPE html>
<html lang="en">
<head>
	<title>QuesTi</title>

<!--===============================================================================================-->
</head>
<body>

	<div class="wrapper"></div>
      <div class="">
	   <div class="container-login100 ">
		 <div class=" p-t-90 p-b-30">
			<a href="/chamados/ver_solicitacao?status=aberto"><h2 style="color: black;">Minhas Solicitações</h2></a>
			<a href="/chamados/ver_solicitacao?status=finalizado"><h2 style="color: black;">Solicitações Finalizadas</h2></a>
			<div class=" p-t-90 p-b-30"></div>
				
     
			</div>
		</div>
	</div>
</div>

</body>
</html>