<footer class="footer">
    <div class="container">
      <span class="text-muted">QuestTi 2020 &copy; João e Roger</span>
    </div>
</footer>

<!--===============================================================================================-->
	<script src="../assets/vendor/bootstrap/js/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="../assets/vendor/bootstrap/js/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="../assets/vendor/bootstrap/js/bootstrap/js/popper.js"></script>
	<script src="../assets/vendor/bootstrap/js/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="../assets/vendor/bootstrap/js/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="../assets/vendor/bootstrap/js/daterangepicker/moment.min.js"></script>
	<script src="../assets/vendor/bootstrap/js/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="../assets/vendor/bootstrap/js/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="../assets/vendor/bootstrap/js/main.js"></script>







	<!--===============================================================================================-->
	<script src="../assets/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="../assets/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="../assets/vendor/bootstrap/js/popper.js"></script>
	<script src="../assets/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="../assets/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="../assets/vendor/daterangepicker/moment.min.js"></script>
	<script src="../assets/vendors/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="../assets/vendor/bootstrap/js/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="../assets/vendor/bootstrap/js/main.js"></script>

	
	